<div id="about">
    <div class="title"><h1>About Steam DataViz</h1></div>
   <div class="content">
       <div class="data">
          <p>
            This project was undertaken as part of our training at Université de Cergy-Pontoise. <br>
            Our team is made up of <span>Pierre-Cyril DECROCK</span> (Project Manager), <span>Héma LAMBERT</span> (Front-end Developer), <span>Cyriaque DELAUNAY</span> (Back-end Developer) and <span>Thibuat ARNOUD</span> (Back-end Developer).
          </p><br>
           <p>Data Sources : <a href="http://store.steampowered.com/">Steam</a>, <a href="https://steamdb.info/">SteamDB</a>, <a href="steamspy.com">Steamspy</a></p>
       </div>
   </div>
</div>