<div id="about">
    <div class="title"><h1>About Steam DataViz</h1></div>
   <div class="content">
       <div class="data">
          <p>
            This project was undertaken as part of our training at Université de Cergy-Pontoise. <br>
            Our team is made up of Pierre-Cyril DECROCK (Project Manager), Héma LAMBERT (Front-end Developer), Cyriaque DELAUNAY (Back-end Developer) and Thibuat ARNOUD (Back-end Developer).
          </p><br>
           <p>Data Sources : <a href="http://store.steampowered.com/">Steam</a>, <a href="https://steamdb.info/">SteamDB</a>, <a href="steamspy.com">Steamspy</a></p>
       </div>
   </div>
</div>