<div id="about">
    <div class="title"><h1>About Steam DataViz</h1></div>
   <div class="content">
       <div class="data">
           <span>Du blabla mais je suis nul pour le blabla surtout in English</span>
       </div>
       <div class="data">
           <span>Team's members&nbsp;: <strong>Pierre-Cyril</strong> (Leading project), <strong>Héma</strong> (Frontend developement), <strong>Cyriaque</strong> (Backend development), <strong>Thibaut</strong> (Backend development)</span>
       </div>
       <div class="data">
           <span>Source of data : <strong><a href="http://store.steampowered.com/">Steam</a></strong>, <strong><a href="https://steamdb.info/">SteamDB</a></strong>, <strong><a href="steamspy.com">Steamspy</a></strong></span>
       </div>
   </div>
</div>