<div id="game-single">
	<h1>{{game.name}}</h1>
	<header id="game-header" style="background-image:url('https://steamcdn-a.akamaihd.net/steam/apps/{{game.additional_infos.appid}}/page_bg_generated_v6b.jpg');">
		<img src="https://steamcdn-a.akamaihd.net/steam/apps/{{game.additional_infos.appid}}/header.jpg" id="game-banner">
		<div class="info">
			<p><span>Type :</span> {{game.type}}</p>
			<p><span>Developer :</span> {{game.additional_infos.developer}}</p>
			<p><span>Publisher :</span> {{game.additional_infos.publisher}}</p>
			<p><span>Release Date :</span> {{game.release_date.date}}</p>
			<p><span>Website :</span> <a href="{{game.website}}">{{game.website}}</a></p>
			<p><span>Genres :</span>
				<span class="genre" ng-repeat="genre in game.genres">{{genre.description}}</span>
			</p>
			<p><span>Platforms :</span>
				<span class="genre" ng-repeat="platform in game.platforms" ng-if="platform == true"></span>
			</p>
		</div>
		<div class="info">
			<h2>Description</h2> 
			<p class="desc">{{ game.about_the_game | stripTags }}</p>
		</div>

	</header>
	<div class="content">
		<div class="data">
			<h2>Players on Steam right now</h2>
			<p id="game-users">{{chart.display}}</p>
		</div>
		<div class="data" ng-show="chart.evolving.ascending">
			<h2>Percentage Increase of Players</h2>
			<p ng-if="chart.evolving.val != 0">+{{Math.round((chart.evolving.val * 100 / chart.last)*10000)/10000}}%</p>
		</div>
		<div class="data" ng-show="chart.evolving.ascending">
			<h2>Increase of</h2>
			<p>+{{chart.evolving.val}}</p>
		</div>
		<div class="data" ng-show="!chart.evolving.ascending">
			<h2>Percentage Decrease of Players</h2>
			<p ng-if="chart.evolving.val != 0">-{{Math.round((chart.evolving.val * 100 / chart.display)*10000)/10000}}%</p>
		</div>
		<div class="data" ng-show="!chart.evolving.ascending">
			<h2>Decrease of</h2>
			<p>-{{chart.evolving.val}}</p>
		</div>
		<div class="data">
			<h2>Owned by</h2>
			<p id="owners">{{game.additional_infos.owners}} Persons</p>
		</div>
		<div class="data">
			<h2>Total play time</h2>
			<p id="play-time">{{playTime}}</p>
		</div>
		<div id="graph-game" class="graph" style="width: 100%; height: 400px; margin: 0 auto"></div>
	</div>
</div>