<div id="game-single">
	<h1>{{user.personaname}}</h1>
	<header id="game-header" style="background-image:url('https://steamcdn-a.akamaihd.net/steam/apps/10/page_bg_generated_v6b.jpg');">
		<img src="{{user.avatarfull}}" id="game-banner" style="width:150px;">
		<div class="info">
			<h2>Games in library</h2> 
			<p class="desc">{{user.games.length}}</p>
		</div>

		<div class="info">
			<h2>Achievements unlocked</h2> 
			<p class="desc">{{ user.achievementsUnlocked }}</p>
		</div>

		<div class="info">
			<h2>Achievements progress</h2> 
			<p class="desc">{{user.achievementPercent}}% ({{ user.achievementsUnlocked }}/{{user.totalAchievements}})</p>
		</div>

		<div class="info">
			<h2>Friends</h2> 
			<p class="desc">{{ user.friendsCount }}</p>
		</div>

		<div class="info">
			<a href="{{user.profileurl}}" target="_blank">
				<p><i class="mdi mdi-steam"></i> View on Steam</p>
			</a>
		</div>

	</header>
	<div class="content">
		<div class="data">
			<h2>Friends ({{ user.friendsCount }})</h2>
			<a ng-repeat="friend in user.friends" href="#/player/{{friend.steamid}}" title="{{friend.personaname}}">
				<img src="{{friend.avatarfull}}" style="height:50px;">
			</a>
		</div>

		<div class="data">
			<h2>Games ({{user.games.length}})</h2>
			<a ng-repeat="game in user.games" href="#/game/{{game.appid}}">
				<img src="https://steamcdn-a.akamaihd.net/steam/apps/{{game.appid}}/header.jpg" style="height:50px;">
			</a>
		</div>
	</div>
</div>