<a href="../index.php" class="logo">
	<img src="assets/img/logo.png" alt="Logo">
</a>
<nav>
	<ul>
		<li><a ui-sref="steam">Steam</a></li>
		<li><a ui-sref="game.list">Games</a></li>
		<li><a ui-sref="player">Players</a></li>
	</ul>
</nav>

<div class="user-profile" style="background: url(assets/img/profile.png)">
	<div class="profile-content">
		<a href=""><span class="profile-btn">Profile</span></a>
		<a href=""><img src="assets/img/off.png" alt="Sign out"></a>
		<div class="user-names">
			<p class="pseudo">Dark Warrior</p>
			<p class="name">John Doe</p>
		</div>
	</div>
</div>