<div ng-controller="indexCtrl">
	<h1>Statistics</h1>
	<div class="content">
		<h1>{{chart.display}}</h1>
		<h4>Players on Steam right now</h4>
		<div id="graph" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
		<div class="graph">
			<h2>Most Played Games</h2>
			<table>
				<tr>
					<th></th>
					<th>Name</th>
					<th>Current Players</th>
				</tr>
				<tr ng-repeat="game in topGames | orderBy:'-currentPlayers'">
					<td><img src="https://steamcdn-a.akamaihd.net/steam/apps/{{game.appid}}/header.jpg" alt="{{game.name}}" style="width:190px;"></td>
					<td><a href="/steam_dataviz/games/{{game.appid}}"><p>{{game.name}}</p></a></td>
					<td>{{game.currentPlayers}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>