/* ######## Variables ######### */

/* ____________________________ */
body{
	background-color: #e5e5e5;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

a{
	text-decoration: none;
	color: #fff;
}

/* ######## SIDEBAR ######### */
.sidebar{
	width: 175px;
	height: 100%;
	display: inline-block;
	background-color: #616161;
	position: fixed;

	.logo{
		text-align: center;
		display: block;
		height: 65px;
		line-height: 65px;

		img{
			vertical-align: middle;
		}
	}

	nav{
		font-size: 23px;
		font-weight: 100;

		ul{
			li{
				height: 56px;
				line-height: 56px;
				text-align: center;

				a{
					height: 100%;
					width: 100%;
					display: inline-block;
					line-height: normal;
				}

				&:hover, &:active, &:focus{
					background-color: #4e4e4e;
				}
			}
		}
	}

	.steam_connect{
		position: absolute;
	    bottom: 15px;
	    left: 0;
	    right: 0;
	    text-align: center;
	}

	.user-profile{
		height: 180px;
		width: 100%;
		position: absolute;
		bottom: 0;
		overflow: hidden;

		.profile-content{
			width: 100%;
			height: 100%;
			display: block;
			padding-top: 10px;

			span{
				padding: 5px 12px;
				border: 2px solid #fff;
				border-radius: 5px;
				margin-left: 10px;
				float: left;

				&:hover{
					color: #000;
					background-color: #fff;
				}
			}

			img{
				float: right;
				width: 25px;
				margin-right: 10px;
			}

			.user-names{
				position: absolute;
				bottom: 10px;
				left: 10px;

				.pseudo{
					font-size: 1.2em;
				}

				.name{
					font-weight: normal;
				}
			}
		}
	}
}


/* ######## MAIN CONTAINER ######### */
.main-container{
	width: calc(100% - 175px);
	height: 100%;
	display: inline-block;
	margin-left: 175px;


	.menu-mobile{
		display: none;
	}

	h1{
		color: #000;
		width: 100%;
		background-color: #fff;
		line-height: 65px;
		text-align: center;
		font-size: 30px;
		font-weight: 100;
	}

	.content{
		padding: 16px;
		text-align: center;

		.graph{
		    box-shadow: #000 0px 0px 8px;
		}

		.data{
			width: auto;
			max-width: 50%;
		    display: inline-block;
		    padding: 20px;
		    background-color: #fff;
		    color: #333;
		    margin: 10px 0;
		    margin-right: 10px;
		    box-shadow: #616161 1px 0px 8px;

		    h2{
				font-size: 22px;
				text-align: center;
				margin-top: 10px;
				margin-bottom: 10px;
			    text-transform: capitalize;
			}

		    table{
				margin-top: 20px;

		    	th{
		    		text-align: center;
				    vertical-align: middle;
				    padding: 5px;
				    font-weight: normal;
		    	}

		    	td{
		    	    vertical-align: middle;
    				padding: 0 10px;
    				text-align: center;
		    	}
		    }

		    p{
		    	font-size: 42px;
		    	text-align: center;
		    }

		    a{
		    	color: #333;
		    }
		}
	}
}

/* ############# RESPONSIVE ############# */
@media screen and (max-width: 1023px) {
	.main-container{
		.content{
		    .data{
		    	width: calc(100% - 40px);
		    	max-width: none;
		    	margin: 0 auto;
		    	margin-top: 10px;
		    	margin-bottom: 10px;
		    	margin-right: 0px;
		    }
		}
	}
}

@media screen and (max-width: 767px) {
	.sidebar{
		left: -175px;
		z-index: 1;
	}

	.main-container{
		width: 100%;
		margin-left: 0px;

		.menu-mobile{
			display: block;
			position: absolute;
			left: 20px;
			line-height: 65px;

			img{
				vertical-align: middle;
			}
		}
	}
}

@media screen and (max-width: 465px) {
	.game-img{
		display: none;
	}
}
